#crawler.service

[Unit]
Description=crawler
After=network.target 

[Service]
Type=simple
User=ubuntu
Environment=MONGO=127.0.0.1
Environment=RMQ_HOST=127.0.0.1
Environment=EXCLUDE_URLS='.*github.com'
ExecStart=/usr/bin/python3 -u /home/ubuntu/search_engine_crawler/crawler/crawler.py https://vitkhab.github.io/search_engine_test_site/
 
Restart=on-abort

[Install]
WantedBy=multi-user.target
