#crawler.service

[Unit]
Description=crawler-ui
After=network.target 

[Service]
Type=simple
User=ubuntu
Environment=FLASK_APP=ui.py
Environment=MONGO=crawler.ru-central1.internal
ExecStart=/usr/local/bin/gunicorn ui:app -b 0.0.0.0
 
Restart=on-abort

[Install]
WantedBy=multi-user.target
